/* Header + Container-Header */

header {
    background-color: #ADD8E6;
    display: flex;
    align-items: center;
    height: 120px;
    
}

.container-header {
    background-color: #DAA520;
    max-width: 1200px;
    margin: 0 auto;
    height: 30px;
    display: flex;       
}

.container-header>* {
    border: 1px dashed black;
    min-width: 400px;
    
}
.container-header>nav {
    flex-grow: 1;
    text-align: center;
}

.container-header :last-child {
    text-align: right;
}



